.checkout-main-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    width: 80%;
}

.checkout-main-container .order-address-container{
    width: 65%;

}
.checkout-main-container .order-details{
    width: 32%;
}

.checkout-main-container .order-address-container,
.checkout-main-container .order-details{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 2px 1px #bdbdbd;
}

.order-address-container .select-address .each-address {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid 1px rgb(205, 203, 203);
}
.select-address .each-address .address{
    margin-left: 10px;
    width: 100%;
}
.select-address .each-address .address-edit-btn{
    cursor: pointer;
    color: rgb(15, 111, 221);
}

.checkout-main-container .order-details{
    height: 330px;
}


/* order details section starts */

.item-details .amount-container,
.item-details .discount-container,
.item-details .delivery-charge-container,
.item-details .total-amount-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 20px;
}

/* payment method section starts */
.payment-method-container .payment-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px ;
    margin-bottom: 8px;
    border: solid 1px rgb(187, 183, 183);
}

.payment-method-container .payment-container .payment{
    width: 100%;
    margin-left: 10px;
}