
.home-corousile-container{
    margin: -62px -20px 65px -20px;
}

.about-services-delivery-payment{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: solid 1px rgb(211, 209, 209);
    padding: 25px 15px 15px 15px;
    margin-bottom: 70px;
}
.about-services-delivery-payment .each-services{
    width: 20%;
    display: flex;
}
.each-services .service-icon{
    color: rgb(13, 103, 207);
    margin-right: 20px;
    font-size: 27px;
}
.each-services .service-icon svg{
    margin-bottom: 10px;
}
.each-services .service-details h6{
    margin: 0;
}
.each-services .service-details p{
    font-size: 14px;
    color: rgb(147, 146, 146);
}

.our-collection-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    padding: 50px 0px;
    border: solid 1px rgb(211, 209, 209);
}

.our-collection-container .each-collection-container{
    width: 20%;
    margin: 0px 5px 50px 5px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 3px 1px grey ;
}

.each-collection-container .collection-img-container{
    height: 70%;
    overflow: hidden;
    margin-bottom: 20px;
}
.each-collection-container .collection-img-container img{
    transition: 0.3s linear;
    width: 100%;
    height: 100%;
}


/* today's best deal section starts */
.today-best-deal-container{
    background-color: white;
    padding: 20px 20px 40px 20px;
    border: solid 1px rgb(211, 209, 209);
    margin-top: 70px;
}

.best-deal-product-variants-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.best-deal-product-variants-container .best-deal-each-product-variant{
    width: 25%;
    padding: 10px;
    margin-bottom: 130px;
    text-decoration: none;
}

.best-deal-product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: rgb(239, 238, 238);
    margin-bottom: 20px;
}

.best-deal-product-image-container img{
    width: 60%;
    height: auto;
}

.best-deal-product-variant-details{
    padding: 0px 25px;
}
.best-deal-product-variant-details .title{
    color: rgb(21, 21, 21);
}


.price-and-offer .orginal-price{
    text-decoration: line-through;
    margin-right: 15px;
    color: rgb(131, 131, 131);
}
.price-and-offer .selling-price{
    margin-right: 15px;
    font-weight: 500;
    color: rgb(38, 38, 38);

}
.price-and-offer .offer{
    font-weight: 500;
    color: rgb(4, 133, 4);
}




/* recent product section starts */
.recent-product-swiper{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: -15px 0px 30px 0px;
    padding: 20px 0px 60px 0px;
}
.recent-product-swiper .each-recent-product{
    padding: 15px;
    border: solid 1px rgb(222, 221, 221);
    margin: 10px;
    height: auto;
}
.recent-product-swiper .each-recent-product a{
    text-decoration: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.recent-product-swiper .recent-product-image-container{
    width: 95%;
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.recent-product-swiper .recent-product-image-container img{
    width: 53%;
    height: auto;
}

.recent-product-details .recent-product-title{
    margin-bottom: 8px;
    color: rgb(23, 23, 23)
}
.recent-product-price-detail .selling-price,
.recent-product-price-detail .original-price,
.recent-product-price-detail .offer{
    font-size: 16px;
    font-weight: 500;
}
.recent-product-price-detail .selling-price{
    color: rgb(23, 23, 23);
}
.recent-product-price-detail .original-price{
    text-decoration: line-through;
    color: gray;
    margin-left: 20px;
}
.recent-product-price-detail .offer{
    color: rgb(3, 124, 3);
    margin-left: 20px;
}

.recent-product-swiper .swiper-wrapper{
    width: 92%;
}

.recent-product-swiper .swiper-button-next,
.recent-product-swiper .swiper-button-prev{
    position: absolute;
    top: 135px;
    background-color: white;
    border-radius: 4px;
    color: #a5a1a1;
    border: solid 2px #bfb6b6;
    height: 80px;
    width: 4%;
    font-size: 10px;
}
.recent-product-swiper .swiper-button-prev{
    left: 0;
}

.recent-product-swiper .swiper-button-next{
    right: 0;
}

.recent-product-swiper .swiper-button-next::after,
.recent-product-swiper .swiper-button-prev::after{
    font-size: 20px;
    font-weight: bolder;
}




/* media query section starts*/

@media (max-width:600px){
    
    .home-corousile-container {
        margin-top: -44px;
        width: 105%;
    }

    .about-services-delivery-payment{
        flex-direction: column;
        padding: 25px;
        width: 72%;
        margin: auto;
        margin-bottom: 65px;
    }
    .about-services-delivery-payment .each-services {
        width: 100%;
    }

    .our-collection-container .each-collection-container {
        width: 37%;
        margin: 0px 5px 50px 5px;

    }
    .each-collection-container .collection-img-container {
        height: 65%;
    }

    .best-deal-product-variants-container .best-deal-each-product-variant {
        width: 49%;
        margin-bottom: 70px;
    }
    
    .best-deal-product-image-container{
        width: 100%;
        height: 70%;
    }
    .best-deal-product-variant-details{
        padding: 2px;
    }
    .best-deal-product-variant-details .title{
        font-size: 14px;
    }
    .best-deal-product-variant-details .price-and-offer{
        font-size: 14px;
    }

    .price-and-offer .offer{
       display: block;
    }


    .recent-product-swiper .swiper-wrapper{
        width: 96%;
    }

    .recent-product-swiper .swiper-button-next,
    .recent-product-swiper .swiper-button-prev{
        width: 8%;
        height: 15%;
        top: 42%;
    }

    .recent-product-swiper .swiper-button-next::after,
    .recent-product-swiper .swiper-button-prev::after{
    font-size: 14px;
    font-weight: bolder;
    }

    .recent-product-price-detail .selling-price,
    .recent-product-price-detail .original-price,
    .recent-product-price-detail .offer{
        font-size: 15px;
        margin-right: -11px;
    }
}



@media (min-width:1500px){
    .our-collection-container .each-collection-container h6{
        font-size: 2rem;
    }
}



