
.home-corousile-container{
    margin: -62px -20px 65px -20px;
}
.home-corousile-container .carousel-item{
    width: 100%;
    height: 575px;
}
.home-corousile-container .carousel-item img{
    object-fit: cover;
}

.about-services-delivery-payment{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: solid 1px rgb(211, 209, 209);
    padding: 25px 15px 15px 15px;
    margin-bottom: 70px;
}
.about-services-delivery-payment .each-services{
    width: 20%;
    display: flex;
}
.each-services .service-icon{
    color: rgb(13, 103, 207);
    margin-right: 20px;
    font-size: 27px;
}
.each-services .service-icon svg{
    margin-bottom: 10px;
}
.each-services .service-details h6{
    margin: 0;
}
.each-services .service-details p{
    font-size: 14px;
    color: rgb(147, 146, 146);
}


/* today's best deal section starts */


/* media query section starts*/

@media (width<600px){
    
    .home-corousile-container {
        margin-top: -20px;
        width: 105%;
    }
    .home-corousile-container .carousel-item{
        height: 180px;
    }

    .about-services-delivery-payment{
        flex-direction: column;
        padding: 25px;
        width: 72%;
        margin: auto;
        margin-bottom: 65px;
    }
    .about-services-delivery-payment .each-services {
        width: 100%;
    }

    /* .our-collection-container .each-collection-container {
        width: 37%;
        margin: 0px 5px 50px 5px;

    }
    .each-collection-container .collection-img-container {
        height: 65%;
    }

    .best-deal-product-variants-container .best-deal-each-product-variant {
        margin-bottom: 15px;
        width: 48%;
    }
    
    .best-deal-product-image-container{
        width: 100%;
        height: 200px;
        padding: 10px;
    }
    .best-deal-product-image-container img{
        max-width: 80%;
        max-height: 80%;
    }
    .best-deal-product-variant-details{
        padding: 2px;
    }
    .best-deal-product-variant-details .title{
        font-size: 14px;
    }
    .best-deal-product-variant-details .price-and-offer{
        font-size: 14px;
    }

    .price-and-offer .offer{
       display: block;
    }


    .recent-product-swiper .swiper-wrapper{
        width: 96%;
    }

    .recent-product-swiper .swiper-button-next,
    .recent-product-swiper .swiper-button-prev{
        width: 8%;
        height: 15%;
        top: 42%;
    }

    .recent-product-swiper .swiper-button-next::after,
    .recent-product-swiper .swiper-button-prev::after{
    font-size: 14px;
    font-weight: bolder;
    }

    .recent-product-price-detail .selling-price,
    .recent-product-price-detail .original-price,
    .recent-product-price-detail .offer{
        font-size: 15px;
        margin-right: -11px;
    } */
}


@media (min-width:768px) and (max-width:1024px){
    .main-container .home-corousile-container{
        height: 400px;
    }
    .carousel-control-next, .carousel-control-prev{
        height: 390px;
    }
    /* .our-collection-container .each-collection-container{
        width: 28%;
    }
    .each-collection-container .collection-img-container {
        height: 145px;
    }
    .each-collection-container h6{
        margin-bottom: 20px ;
    }
    .best-deal-product-variants-container .best-deal-each-product-variant {
        width: 28%;
    }
    .best-deal-product-image-container {
        width: 100%;
    }
    .recent-product-swiper .swiper-button-next,
    .recent-product-swiper .swiper-button-prev{
        right: 0;
        top: 180px;
    } */

}






