.recent-product-swiper{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: -15px 0px 30px 0px;
    padding: 20px 0px 60px 0px;
}
.recent-product-swiper .each-recent-product{
    padding: 15px;
    border: solid 1px rgb(222, 221, 221);
    margin: 10px;
    height: auto;
}
.recent-product-swiper .each-recent-product a{
    text-decoration: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.recent-product-swiper .recent-product-image-container{
    height: 210px;
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recent-product-swiper .recent-product-image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.recent-product-details .recent-product-title{
    margin-bottom: 8px;
    color: rgb(23, 23, 23)
}
.recent-product-price-detail .selling-price,
.recent-product-price-detail .original-price,
.recent-product-price-detail .offer{
    font-size: 16px;
    font-weight: 500;
}
.recent-product-price-detail .selling-price{
    color: rgb(23, 23, 23);
}
.recent-product-price-detail .original-price{
    text-decoration: line-through;
    color: gray;
    margin-left: 20px;
}
.recent-product-price-detail .offer{
    color: rgb(3, 124, 3);
    margin-left: 20px;
}

.recent-product-swiper .swiper-wrapper{
    width: 92%;
}

.recent-product-swiper .swiper-button-next,
.recent-product-swiper .swiper-button-prev{
    position: absolute;
    top: 40%;
    background-color: white;
    border-radius: 4px;
    color: #a5a1a1;
    border: solid 2px #bfb6b6;
    height: 80px;
    width: 4%;
    font-size: 10px;
}
.recent-product-swiper .swiper-button-prev{
    left: 0;
}

.recent-product-swiper .swiper-button-next{
    right: 0;
}

.recent-product-swiper .swiper-button-next::after,
.recent-product-swiper .swiper-button-prev::after{
    font-size: 20px;
    font-weight: bolder;
}

