.reset-password-container{
    width: 35%;
    margin: auto;
    height: 400px;
    margin-top: 130px;
}

.reset-password-container .password{
    margin-bottom: 15px;
}
.reset-password-container .submit{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.password-reset-submit-btn{
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(22, 75, 232);
    color: white;
    padding: 6px;
    font-weight: 500;
}
.password-reset-submit-btn:hover{
    background-color: rgb(38, 87, 235);
}



/* loader animation */

.submit .loader {
    margin-left: 45%;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }